#borderbox{
    box-sizing: border-box;
    border:5px solid black;
    width: 200px;
    height: 200px;
    background-color: aqua;
}
#contentbox{
    box-sizing:content-box;
    border:5px solid black;
    width: 200px;
    height: 200px;
    color: white;
    background-color: rgb(9, 57, 57);

}

#bradius{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    margin-top: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


#parent{
    height:300px;
    width:300px;
    background-color: blue;
    font-size: 40px;
}

.child{
    width:50%;
    height: 50%;
    background-color: black;
    color: white;
    font-size: 2em;
}

h1{
    font-size: 20px;
    border:2px solid red;
    line-height: 30%;
}


/*root element */
html{
    font-size: 16px;
}


#nestedlist-container{
    font-size: 20px;
}

ul{
    font-size: 1em;
}

li{
    font-size: 2em;
}

#emparent{
    font-size: 40px;
}

h2{
    font-size: 2em;
    /*here 2em means 80px and hence margit-left 1em means 80px*/
    margin-left: 1em;
}

#circle{
    height: 300px;
    width: 300px;
    background-color: black;
    transition: background-color 4s,border-radius 2s;
}

#circle:hover{
    border-radius: 50%;
    background-color: palevioletred;
}

section div{
    height:100px;
    width:100px;
    background-color: aqua;
    margin:20px 0;
    transition:  margin-left  4s;
}

section:hover div{
    margin-left:500px;
}

section div:nth-of-type(1){
    transition-timing-function: ease-in;
}

section div:nth-of-type(2){
    transition-timing-function:  ease-in-out;
}

#transform div{
    height:100px;
    width:100px;
    background-color: blueviolet;
    margin: 20px 0;
    color:wheat;
}

#transform div:nth-of-type(1){
    transform: rotate(45deg);
}

#transform div:nth-of-type(2){
    transform: scale(0.4,0.3);
}
#transform div:nth-of-type(3){
    transform: translate(200px,20px);
}


#bgimg{
    background-image:url('https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg');
    height: 100px;
    background-size: cover;
    border:2px solid red;
    background-attachment: scroll;
}

#opacity{
    opacity: 0.7;
}